<div class="bg-container">
    <div class="inner-container">
        <!-- <img class="reference-img" src="./assets/images/Curriculam_Stat_ref.png"> -->
         <!-- <img class="mobile-ref" src="./assets/images/mobile_ref.png" alt="mobile_ref"> -->
        <img class="base-img" src="./assets/images/base.png">
        <img class="overlay-img" src="./assets/images/overlay.png">
        <div class="bg-txt">Curriculam Stat.</div>
        <div class="vertical-1"></div>
        <div class="vertical-2"></div>
        <img class="logo-birla" src="./assets/images/ck_birla_logo.png">
        <img class="logo-gmmco" src="./assets/images/gmmco_logo.png">
    </div>    
</div>
 