<div class="dashboard-container">
  <!-- <img
    style="width: 100%; height: auto; position: absolute; opacity: 1"
    src="./assets/images/mobile_dash_card_ref.png"
  /> -->
  <div class="vertical-1"></div>
  <div class="vertical-2"></div>
  <div class="horizontal-1"></div>
  <img class="logo-birla" src="./assets/images/ck_birla_logo.png" />
  <img class="logo-gmmco" src="./assets/images/gmmco_logo.png" />
  
  <div class="page-header">Individual Learning Plan</div>
  <div class="page-header-mbl">ILP</div>
  <div class="logout-btn" (click)="onLogoutClick($event)">
    <img class="logout-icon" src="./assets/images/logout_icon.png" /><span
      class="logout-txt"
      >Logout</span
    >
  </div>
  <div class="red-bg"></div>
  <div class="profile-container">
    <div class="empl-lbl-txt">Employee</div>
    <div class="id-lbl-txt">ID</div>
    <div class="emp-id-content">GMM{{ employeeInfo.empid }}</div>
    <div class="horizontal-divider"></div>
    <div class="emp-divider"></div>
    <div class="emp-divider-2"></div>
    <div class="emp-name emp-content">
      <div class="content-1">Employee Name</div>
      <div class="content-2">{{ employeeInfo.empname }}</div>
    </div>

    <div class="loc emp-content">
      <div class="content-1">Location</div>
      <div class="content-2">{{ employeeInfo.location }}</div>
    </div>
    <div class="rm emp-content">
      <div class="content-1">RM Name</div>
      <div class="content-2">{{ employeeInfo.reportingmanagername }}</div>
    </div>
</div>
<div class="level-container">
    <div class="current-container">
      <div class="current-title">Current Certification Level</div>
      <div class="current-vertical"></div>
      <div class="current-content">{{ employeeInfo.currentLevel }}</div>
      <div class="current-progress-container">
        <progress class="progress-bar" id="current-progress" value="{{employeeInfo.currentLevelPercent}}" max="100"></progress>
        <div class="progress-percent">{{employeeInfo.currentLevelPercent}}% Completed</div>
      </div>
      
    </div>
<div class="level-divider"></div>
    <div class="target-container">
      <div class="target-title">Targeted Certification Level</div>
      <div class="target-vertical"></div>
      <div class="target-content">{{ employeeInfo.targetLevel }}</div>
      <div class="target-progress-container">
        <progress class="progress-bar" id="target-progress" value="{{employeeInfo.targetLevelPercent}}" max="100"> </progress>
        <div class="progress-percent">{{employeeInfo.targetLevelPercent}}% Completed</div>
      </div>
    </div>
  </div>
 <div class="fin-year-container">
  <div class="cur-course-title">Current Courses</div>
  <img class="left-arrow" (click)="onArrowClick('left')" src="./assets/images/arrow.png" alt="arrow">
  <img class="right-arrow" (click)="onArrowClick('right')" src="./assets/images/arrow.png" alt="arrow">
  <div class="fin-inner-container" [@slidingAnimation]="{value: animVal, params: {leftPos: currentPos, duration: duration}}" (@slidingAnimation.done)="onAnimDone()">
    <div class="fy23-container fin-container">
      <div class="fin-header">FY 2023-2024</div>
      <table>
        <tr>
          <th>Course</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let course of employeeInfo.fin2023">
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.coursename }}</td>
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.status }}</td>
        </tr>
      </table>
    </div>
    <div class="fy24-container fin-container">
      <div class="fin-header">FY 2024-2025</div>
      <table>
        <tr>
          <th>Course</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let course of employeeInfo.fin2024">
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.coursename }}</td>
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.status }}</td>
        </tr>
      </table>
    </div>

    <div class="fy25-container fin-container">
      <div class="fin-header">FY 2025-2026</div>
      <table>
        <tr>
          <th>Course</th>
          <th>Status</th>
        </tr>
        <tr *ngFor="let course of employeeInfo.fin2025">
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.coursename }}</td>
          <td [ngStyle]="{'color':course.status == 'Not Completed'?'#ED1D25': '#000000'}">{{ course.status }}</td>
        </tr>
      </table>
    </div>
  </div>
    
  </div>

  <div class="hist-container">
    <div class="hist-divider"></div>
    <div class="hist-title">Training History</div>
    <div (click)="onSearchClick(searchinp)" class="search-container">
      <img class="search-icon" src="./assets/images/search_icon.png" alt="">
      <input #searchinp class="search-input" placeholder="Search" (keyup)="onKeyChange($event)" type="text" name="search"/>
    </div>
    <div class="toggle-icon" (click)="toggleView()">
      <img *ngIf="!isTableView" class="toggle-img" src="./assets/images/grid_icon.png" alt="grid">
      <img *ngIf="isTableView" class="toggle-img" src="./assets/images/humburger_icon.png" alt="menu">
    </div>
    <div *ngIf="isTableView" class="table-container"><table>
      <thead>
        <tr>
          <th>Course Name
            </th>
          <th>Status</th>
          <th>Score</th>
          <th>Date of Completion</th>
          <th>Year of Completion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of filteredHistory">
          <td>{{ course.coursename }}</td>
          <td>{{ course.status }}</td>
          <td>{{ course.score }}</td>
          <td>{{ course.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ course.year }}</td>
        </tr>
        <tr>
          <td>{{(filteredHistory.length == 0?'Courses Not Available':'')}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table></div>  
    <div class="card-outer-container" *ngIf="!isTableView">
      <div *ngFor="let course of filteredHistory" class="card-container">
        <div class="course-desc">Course Name - <span class="course-val">{{ course.coursename }}</span></div>
        <div class="course-desc">Status - <span class="course-val">{{ course.status }}</span></div>
        <div class="course-desc">Score - <span class="course-val">{{ course.score }}</span></div>
        <div class="course-desc">Date of Completion - <span class="course-val">{{ course.date | date: 'dd/MM/yyyy' }}</span></div>
        <div class="course-desc">Year of Completion - <span class="course-val">{{ course.year }}</span></div>
      </div>
      <div *ngIf="filteredHistory.length == 0" class="card-container">
        <div class="course-desc">Courses Not Available</div>
      </div>
    </div>
    
  </div> 
</div>
